{
  "endOfLine": "lf",
  "bracketSameLine": false,
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "none",
  "htmlWhitespaceSensitivity": "ignore",
  "xmlWhitespaceSensitivity": "ignore"
}
